#baner {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: rgb(24, 20, 47);
}

#baner .text {
  width: 50%;
  margin: 3em 4em;
  color: #fff;
}

#baner .text p {
  color: #000;
}

#baner .miniatura {
  width: 50%;
  margin: 23px 100px;
}

#baner .video {
  width: 300px;
  height: 250px;
}
