#container-videos{
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.titulo{
  display: flex;
  margin: 10px;
}

#container-videos .video{
  width: 50px;
  height: 200px;
}