#Header {
  width: 100%;
  height: auto;
  background-color: #000000;
}

#menu {
  width: 100%;
  display: flex;
  padding: 0em 2em;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#menu .logo {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 2em;
  justify-content: center;
  text-align: center;
}

#menu .btn-NuevoVideo {
  color: #fff;
  display: flex;
  background: none;
  border: 1px solid #fff;
  padding: 10px;
}
